@namespace InMaPro_cse325.Components.Layout

@inherits LayoutComponentBase

<div class="page">
    <header>
        <NavMenu />
    </header>

    <main class="content px-4 py-4">
        @Body
    </main>
</div>