@namespace InMaPro_cse325.Components.Layout

<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/inventory">Inventory</a></li>
        <li><a href="/inventory/create">Add Item</a></li>
    </ul>
</nav>
